/bin/
/docs/_build/cache/
/docs/_build/doctrees/
/docs/_build/html/
/docs/_build/vendor/
/docs/_build/composer.lock
/tests/tmp/
/vendor/
/composer.lock
/.php-cs-fixer.cache
/.php-cs-fixer.php
/.phpunit.result.cache
